@page
@model HoaHoeHoaSoi.Pages.ADMIN.UpIMGModel
@{
}

<div class="mb-3 mt-3">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <lable class="form-label">Up Load File</lable>
            <input type="file" name="file" class="form-control" />            
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>

