@page
@model HoaHoeHoaSoi.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .info-left {
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        width: 40%;
    }

    .info-right {
        justify-content: center;
        width: 50%;
    }

/*    .form-container {
        display: flex;
    }*/

    .box-title {
        font-size: 2.5vw;
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 1vw;
    }

    .text-box {
        width: 100%;
        font-family: Courier;
        font-size: 1.5vw;
        color: #9D1030;
        background-color: #F6D8DC;
        border-color: #9D1030;
        border: 0.3vw solid;
        border-radius: 100px;
        padding: 1vw 2vw 1vw 2vw;
    }

    .btn-login {
        justify-content: center;
        filter: drop-shadow(0.3em 0.3em 0.3em black);
        border-radius: 30px;
        background-color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.6vw;
        border: none;
    }

    .img-info {
        border-radius: 50px;
        filter: drop-shadow(0 0 5px black);
        justify-content: center;
        align-items: center;
    }

    .question {
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 1vw;
    }

</style>

<div class="contai'ner-fluid text-white" style=" background-color: #F6D8DC; padding: 5% 10%; display: flex; ">
    <div class="info-left">
        <center>
            <div style="width:70%; height:70%">
                <img class="img-info" src="/Picture/8.png" style="max-width: 100%; max-height: 100%" />
            </div>
        </center>
    </div>
    <div class="info-right">
        <form method="post" onsubmit="return validateForm()">
            <div class="form-container">
                <div class="info-left-note" style="">
                    <label class="box-title" for="name"><b>Username</b></label><br>
                    <input class="text-box" type="text" id="Username" name="Username" value=""><br>
                    <label class="box-title" for="pass"><b>Password</b></label><br>
                    <input class="text-box" type="password" id="Password" name="Password" value=""><br>
                </div>
                <div style="width:10%"></div>
                <a href="/SignUp" class="question"><p>Don't have a account ?</p></a>
                <center style="width:100%; padding-top:2vw">
                    <button class="btn-login" style="padding: 10px 50px 10px 50px ; color:white"><b>Login</b></button>
                </center>
            </div>
        </form>
    </div>
</div>
@section Script{
    <script type="text/javascript">
        debugger;
        var isValid = @Html.Raw(Json.Serialize(Model.IsValid));
        var isLoginFail = @Html.Raw(Json.Serialize(Model.IsLoginFail));

        if (!isValid) {
            Swal.fire({
                title: "Username and password are empty",
                text: "Please try again",
                icon: "error"
            });
        } else if (isLoginFail) {
            Swal.fire({
                title: "Wrong username and password",
                text: "Please try again",
                icon: "error"
            });
        }
    </script>
}

