@page
@model Webbanhoa.Pages.Shared.ShopModel
@{
}

<style>
    .container-fluid {
        background-color: #F6D8DC;
        color: #9D1030;
        padding: 2vw 6vw 2vw 6vw;
    }

    .title {
        font-size: 4vw;
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .shop {
        border-left: 0.2vw solid;
        border-color: #9D1030;
        padding: 2vw 4vw 2vw 4vw
    }

</style>

<div class="container-fluid" >
    <p class="title" style=" padding-left:2vw"> <b>OUR PRODUCTS</b></p>
    <div class="shop">
        <div >
            <p> hello</p>
        </div>
    </div>

</div>