@page
@model HoaHoeHoaSoi.Pages.SignUpModel
@{
}

<style>

    .info-left {
        justify-content: center;
        width: 40%;
    }

    .info-right {
        justify-content: center;
        width: 50%;
    }

    .box-title {
        font-size: 2.5vw;
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 1vw;
    }

    .text-box {
        width: 100%;
        font-family: Courier;
        font-size: 1.5vw;
        color: #9D1030;
        background-color: #F6D8DC;
        border-color: #9D1030;
        border: 0.3vw solid;
        border-radius: 100px;
        padding: 1vw 2vw 1vw 2vw;
    }


    .img-info {
        border-radius: 50px;
        filter: drop-shadow(0 0 5px black);
    }

/*    .register-container {
        background: #fff;
        padding: 20px 30px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
    }*/


    .btn-Signup {
        justify-content: center;
        filter: drop-shadow(0.3em 0.3em 0.3em black);
        border-radius: 30px;
        background-color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.6vw;
        border: none;
    }

    .form-group {
        font-size: 2.5vw;
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 1vw;
    }

</style>


<div class="contai'ner-fluid text-white" style=" background-color: #F6D8DC; padding: 5% 10%; display: flex; ">
    <div class="info-left">
        <center>
            <div style="width:60%; height:60%">
                <img class="img-info" src="/Picture/8.png" style="max-width: 100%; max-height: 100%" />
            </div>
        </center>
    </div>
    <div class="info-right">
        <form method="post">
            <div class="form-container">
                <div class="form-group">
                    <label class="box-title" for="name"><b>Fullname</b></label><br>
                    <input class="text-box" type="text" id="fullname" name="fullname" required="">
                </div>
                <div class="form-group">
                    <label class="box-title" for="Username"><b>Username</b></label><br>
                    <input class="text-box" type="text" id="Username" name="Username" required="">
                </div>
                <div class="form-group">
                    <label class="box-title" for="phone"><b>Password</b></label><br>
                    <input class="text-box" type="password" id="password" name="password" required="">
                </div>
                <center style="width:100%; padding-top:2vw">
                    <div>
                        <button class="btn-Signup" style="padding: 10px 50px 10px 50px ; color:white"><b>Sign Up</b></button>
                        @*<input class="btn-Signup" type="submit" value="Sign Up">*@
                    </div>
                </center>
                </div>
        </form>
    </div>
</div>

@section Script{
    <script type="text/javascript">
        var errorMsg = @Html.Raw(Json.Serialize(Model.ErrorMsg));
        var isSuccess = @Html.Raw(Json.Serialize(Model.IsSuccess));
        if (errorMsg) {
            Swal.fire({
                title: errorMsg,
                text: "Please try again",
                icon: "error"
            });
        } else if(isSuccess) {
            Swal.fire({
                title: "Sign up successful",
                text: "",
                icon: "success"
            });
        }
    </script>
}